 #menu ul li{
 list-style-type:none;
 margin-top:25px;
 float:top;
 position:relative;
 color:#000000;
}

#menu {
margin-top:0px;
width:300px;
border-style:solid;
border-width:5px;
border-color:black;
height:304px;
float: left;
font-family:"Comic Sans MS";
font-weight: normal;

}
 
  #logo {
	  
	width:165px;
	height:135px;
	float:left;
 }
 
 a {
 color:#000000;
 font-weight:bold;
 text-transform:uppercase;
 text-decoration:none;
 
}

#G {

width: 1000px;
background: #ffffff;
margin: 10px auto;
height:900px;

}

body {
background: url(fon4.jpg);
background-repeat:norepeat;

background-color:white;

}

#f {
width:680px; 
height: 304px;
float: right;
padding:3px;
} 

f1{
padding:3px;	
}

#G{
background:url(trew.png);
}


#verh {
	background: url(fon2.jpg);
background-repeat:no-repeat;
}

span {
color:blue;
}

h3{
font-family:"Comic Sans MS";
font-weight: normal; 
}