#menu ul li{
 list-style-type:none;
 margin-top:25px;
 float:top;
 position:relative;
 color:#000000;
}

#menu {

margin-top:0px;
width:300px;
border-style:solid;
border-width:5px;
border-color:black;
height:304px;
float: left;
font-family:"Comic Sans MS";
font-weight: normal; 
}
 
#logo {
	  
	width:165px;
	height:135px;
	float:left;
 }
 
 a {
 color:#000000;
 font-weight:bold;
 text-transform:uppercase;
 text-decoration:none;
}

#G {

width: 1000px;
background: url(trew.png);
margin: 10px auto;
height:1000px;
}

#G {background: url(trew.png);}



body {
background: url(fon4.jpg);
background-repeat:no-repeat;
background-color:white;

}

#tr{
width:680px; 
height: 304px;
float: right;
}

h3{
font-family:"Comic Sans MS";
font-weight: normal; 
}

 /* Современные браузеры, кроме Chrome, Opera, Safari */
  @keyframes go-left-right {   /* назовём анимацию: "go-left-right" */
    from {
      left: 0px;               /* от: left: 0px */
    }
    to {
      left: calc(100% - 50px); /* до: left: 100%-50px */
    }
  }

  /* Префикс для Chrome, Opera, Safari */
  @-webkit-keyframes go-left-right {
    from {
      left: 0px;
    }
    to {
      left: calc(100% - 50px);
    }
  }

  .progress {
    animation: go-left-right 10s infinite alternate;
    -webkit-animation: go-left-right 10s infinite alternate;
    background:url(vagon.png) no-repeat;
	 position: fixed; 
    left: 0; bottom: 0; 
	width:600px;
	height:243px;
  }
 